.css-1chuxo2-MuiPickersCalendarHeader-label {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.css-14yom7c-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon {
  color: #000000;
}
.css-1ckov0h-MuiSvgIcon-root {
  color: #000000;
}
.css-17f9e7e-MuiTypography-root-MuiDayCalendar-weekDayLabel {
  color: #000000;
}
