.css-1chuxo2-MuiPickersCalendarHeader-label {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.css-14yom7c-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon {
  color: #000000;
}
.css-1ckov0h-MuiSvgIcon-root {
  color: #000000;
}
.css-17f9e7e-MuiTypography-root-MuiDayCalendar-weekDayLabel {
  font-family: "Open Sans", sans-serif;
  color: #000000;
}
.css-1qb8o-MuiToggleButtonGroup-root .MuiToggleButtonGroup-middleButton {
  font-family: "Open Sans", sans-serif;
  color: #3b3e45;
  background-color: #f3f4f6;
}
.css-1qb8o-MuiToggleButtonGroup-root .MuiToggleButtonGroup-lastButton {
  font-family: "Open Sans", sans-serif;
  color: #3b3e45;
  background-color: #f3f4f6;
}
.e-schedule .e-schedule-toolbar .e-tbar-btn .e-tbar-btn-text {
  font-family: "Open Sans", sans-serif;
}
