.layout-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 10%;
  background-color: #ffffff;
}

.content-container {
  width: 90%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 450px) {
  .layout-container {
    flex-direction: column;
  }

  .sidebar {
    width: 5%;
  }

  .content-container {
    width: 95%;
  }
}
